<footer>
    <div class="foot">
        <div class="foot-icon">
            <i style="color: rgb(215, 40, 69);" class="fa-brands fa-instagram"></i>
            <i style="color: rgb(14, 55, 237);" class="fa-brands fa-square-facebook"></i>
            <i style="color: rgb(24, 39, 239);" class="fa-brands fa-linkedin"></i>
        </div>
        <b><p>I <i style="color: red;" class="fa-solid fa-heart"></i> BlogPost</p></b>
       
        <p>&copy; 2025.Copyright.&num;.Post.com</p>
    </div>
</footer>